{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="container enroll">
    <div>
        <strong>百分百学校学员缴费、退费、请假、补课管理办法（试行）</strong>
    </div>
    <div class="row exam-detail">
        <p>
            <strong>1、缴费制度</strong>
        </p>
        <p>缴费方式：微信端报名通过微信绑定的银行卡进行支付；各校区前台，可通过现金、刷卡、扫二维码等方式支付。</p>
        <p></p>
        <p>
            <strong>2、退费制度</strong>
        </p>
        <p>办理退费，必须到所报校区前台进行处理。所退课次，以提出退费申请时所剩课次为准。</p>
        <p>长期班（春季、暑期、秋季班）学员，第二次课开课前退费，全额退费（教材不影响二次销售的可以一并退费）。第二次开课后退费，按照剩余课次退费，如当次课未上完，提出退费，当次课不予退费。</p>
        <p>长期班开课至总课时4/5后，一律不予办理退费。</p>
        <p>短期班（寒假班、专题课等）学员，第二次开课前退费，全额退费（教材不影响二次销售的可以一并退费），第二次开课后退费，按照剩余课次退费。</p>
        <p>短期班开课至总课时1/2后，一律不予办理退费。</p>
        <p>如果缴费时使用微信、支付宝、信用卡等方式支付，在退费时首先扣除手续费（目前为0.6%，之后如有调整，另行通知），剩余学费折算到相应课时进行退费。</p>
        <p>如果缴费时使用了优惠券，退费时以课程实际价格折算课时费，以实际缴款金额扣除课时费后进行退费，优惠券不予退还。</p>
        <p>促销类课程，如领取了实物激励，退费时所领实物以实际价值进行抵扣之后再予退费。</p>
        <p></p>
        <p>
            <strong>3、请假、补课制度</strong>
        </p>
        <p>学员因为自身原因无法上课的，需要提前通过微信、电话等方式向带班老师请假。遇到紧急情况，也须在24小时内补假，凡未请假缺课视为旷课。请假及旷课的课时一律不予退费。</p>
        <p>学员请假所缺课程，学校将采取多种方式保证学生能够跟上授课进度。首先，学校优先安排平行班级补课，安排平行班补课后，学生无故缺席的，不再予以安排补课。其次，无法安排平行班级补课的，学校安排补课老师进行补课，补课形式为1对1或1对多，同时补课只补内容，不补课时。长期班一期课程补课老师补课累计不超过三次，短期班仅限一次。安排补课后学生无故旷课，不再重新安排，但计算累计补课次数。如由于学员时间安排，确实无法安排补课的，学校提供当堂课的讲义，并提供1对1答疑。</p>
        <p>旷课学员不予安排补课。</p>
        <p>以上办法自2018年2月1日期执行，之前与之有冲突的以本办法为准。</p>
        <p>百分百学校保留法律允许范围内的解释权。</p>
    </div>
    <div style="margin-bottom:20px;">
        <button id="btnAgree" style="margin: 0 auto; display: block;" class="btn btn-default" type="button">我已阅读并同意</button>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Client/bfbRule.js?v=1.0"></script>
{% endblock %}