{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="container enroll lesson">
    <div class="pageTitle" style="padding-right: 15px; padding-left:60px;">
        {{ name }}
    </div>
    <div class="row">
        <div class="lesson-title">单词</div>
        <div class="panel-group wordlist" id="accordion" role="tablist" aria-multiselectable="true">
        </div>
        <div class="lesson-title">句子</div>
        <div class="panel-group sentencelist" id="accordion2" role="tablist" aria-multiselectable="true">
        </div>
        <div class="lesson-title">课文</div>
        <div class="panel-group content" id="accordion3" role="tablist" aria-multiselectable="true">
        </div>
    </div>
</div>
<input type="hidden" id="studentId" value="{{ studentId }}" />
<input type="hidden" id="lessonId" value="{{ lessonId }}" />
<script type="text/javascript" src="/default/assets/js/Client/book.lesson.detail.js?v=1.0"></script>
{% endblock %}