{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="container enroll lesson">
    <div class="pageTitle" style="">
        <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span> {{ title }}
    </div>
    <div class="row categories">
    </div>
</div>
<input type="hidden" id="studentId" value="{{ studentId }}" />
<input type="hidden" id="lessonId" value="{{ lessonId }}" />
<input type="hidden" id="bookId" value="{{ bookId }}" />
<input type="hidden" id="minLesson" value="{{ minLesson }}" />
<input type="hidden" id="maxLesson" value="{{ maxLesson }}" />
<script type="text/javascript" src="/default/assets/js/Client/book.lesson.category.js?v=1.0"></script>
{% endblock %}