{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="container enroll lesson">
    <div class="pageTitle" style="">
        <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span> {{ name }}
    </div>
    <div class="row text-center">
        <span class="text-danger">长按"录音"按钮开始录音</span>
    </div>
    <div class="row">
        <!-- <textarea rows="3" name="jsalert" id="jsalert" cols="40"></textarea> -->
        <div id="iPanel" class="iPanel hidden">
            <button class="btn btn-app btn-primary btn-md play" audioIndex="0">
                <i class="fa bigger-160"></i>
            </button>
            <button class="btn btn-app btn-primary btn-md record">
                <i class="fa bigger-160"></i>
            </button>
            <button class="btn btn-app btn-primary btn-md play toReplay" audioIndex="1">
                <i class="fa bigger-160"></i>
            </button>
            <div class="space"></div>
            <div style="height:15px">
                <div class="recordProgressBar" style="width:200px;">
                    <div class="value">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group wordlist" id="accordion" role="tablist" aria-multiselectable="true">
        </div>
    </div>
</div>
<input type="hidden" id="studentId" value="{{ studentId }}" />
<input type="hidden" id="lessonId" value="{{ lessonId }}" />
<input type="hidden" id="bookId" value="{{ bookId }}" />
<input type="hidden" id="minLesson" value="{{ minLesson }}" />
<input type="hidden" id="maxLesson" value="{{ maxLesson }}" />
<input type="hidden" id="curType" value="{{ curType }}" />

<div class="modal" id="confirmModal" style="display:none; height: 100%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                出错了！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="http://api.chivoxapp.com/js/wx/AiEngine.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/default/assets/js/Client/book.lesson.detail.js?v=1.0005"></script>
{% endblock %}