{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="container enroll">
    <div class="pageTitle">
        <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span>活动内容
    </div>
    <div class="row exam-detail">
        {% if trainClass %}
        <input type="hidden" id="schoolId" value="{{ trainClass.schoolId }}" />
        <input type="hidden" id="gradeId" value="{{ trainClass.gradeId }}" />
        <input type="hidden" id="subjectId" value="{{ trainClass.subjectId }}" />
        <input type="hidden" id="categoryId" value="{{ trainClass.categoryId }}" />
        <div class="exam link">
            <div class="exam-info">
                <div>
                    <h2>{{ trainClass.name }}</h2>
                </div>
                <div>开课日期：{{ trainClass.courseStartDate.toLocaleDateString() }} 到 {{ trainClass.courseEndDate.toLocaleDateString()
                    }} 共 {{ trainClass.totalClassCount }}课时</div>
                <div>上课时间：{{ trainClass.courseTime }} </div>
                <div class="enroll-info">
                    <p class="exam-count">已报{{ trainClass.enrollCount }}&nbsp;&nbsp;共{{trainClass.totalStudentCount}} {% if trainClass.enrollCount
                        == trainClass.totalStudentCount %}
                        <span class="full">(已满)</span>{% endif %}
                    </p>
                </div>
            </div>
            <div class="exam-content">
                <div class="title">课程介绍：</div>
                <div class="content"> {{ trainClass.courseContent | safe }} </div>
            </div>
            <input type="hidden" id="id" value="{{ trainClass._id }}" />
        </div>{% endif %}
    </div>
    {% if trainClass.enrollCount != trainClass.totalStudentCount %}
    <div class="enroll-submit exam">
        <button id="btnEnroll" class="btn btn-primary" type="button">立刻报名</button>
    </div>
    {% endif %}
</div>

<div class="modal" id="confirmModal" style="display:none; height: 100%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                出错了！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Client/enroll.class.detail.js?v=1.0"></script>
<script type="text/javascript" src="/default/assets/js/bootstrapValidation.js"></script>
{% endblock %}