{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="container enroll personalCenter" id="Enroll-student">
    <div class="pageTitle">
        <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span>准考证信息
        <input type="hidden" id="id" value="{{ train._id }}" />
    </div>
    <div class="orderList">
        <ul class="student-list clearfix list-unstyled">
            {% if students and students.length>0 %} {% for student in students %} {% if student.order %}
            <li class="clearfix">
                <div>
                    <div class="detail">
                        <div class="studentName">学员:&nbsp;&nbsp;{{ student.order.studentName }}</div>
                        <div class="">电话:&nbsp;&nbsp;{{ student.accountMobile }} </div>
                    </div>
                    <div class="title">考试:{{ student.order.examName }}</div>
                    {% if train %}
                    <div class="classDetail">
                        <div class="">日期:&nbsp;&nbsp;{{ train.examDate.toLocaleDateString() }} </div>
                        <div class="">时间:&nbsp;&nbsp;{{ train.examTime }}</div>
                        {% if train.examAreaName %}
                        <div class="">地点:&nbsp;&nbsp;{{ train.examAreaName }}</div>
                        {% else %}
                        <div class="">地点:&nbsp;&nbsp;{{ student.order.examAreaName }}</div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </li>
            {% endif %} {% endfor %} {% endif %}
        </ul>
    </div>
</div>
<script type="text/javascript" src="/default/assets/js/Client/enroll.exam.card.js?v=1.0"></script>
{% endblock %}