{% extends "Client/partial/main-header.html" %} {% block main %}
<input type="hidden" id="disability" value="{{ disability }}" />
<input type="hidden" id="notOriginal" value="{{ notOriginal }}" />
<input type="hidden" id="originalOrder" value="{{ originalOrder }}" />
<div class="container enroll">
    <div class="pageTitle">
        <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span>课程订单
    </div>
    <div class="row exam-detail">
        <ul class="exam-list clearfix list-unstyled">
            {% if trainClass %}
            <li class="exam-card card " style="margin-bottom: 0" data-obj="{{ trainClass|dump }}">
                <div id="{{ trainClass._id }}" class="exam link">
                    <div class="exam-info">
                        <div>
                            <h3>{{ trainClass.name }}</h3>
                        </div>
                        <div>开课日期：{{ trainClass.courseStartDate.toLocaleDateString() }} 到 {{ trainClass.courseEndDate.toLocaleDateString() }} 共 {{ trainClass.totalClassCount }}课时</div>
                        <div>上课时间：{{ trainClass.courseTime }} </div>
                        <div>上课地点：{{ trainClass.schoolArea }} {{ trainClass.classRoomName }} 室</div>
                        <div>培训费：{{ trainClass.trainPrice }}元 </div>
                        <div>教材费：{{ trainClass.materialPrice }}元 </div>
                    </div>
                </div>
            </li> {% endif %}
        </ul>
        <input type="hidden" id="classId" value="{{ classId }}" />
        <input type="hidden" id="studentId" value="{{ studentId }}" />
        <div class="form-group coupon" style="display: none;">
            <label for="coupon" class="control-label">优惠:</label>
            <select style="margin-left:20px; width: calc(100% - 20px);" name="coupon" id="coupon" class="form-control">
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">合计:</label>
            <span class="total"></span>元
        </div>
    </div>
    <div class="enroll-submit exam">
        {% if not disability and not notOriginal %}
        <button id="btnPay" class="btn btn-danger" type="button">立刻支付</button> {% endif %}
    </div>
</div>
<!--modal-->
<div id="bgBack" style="display:none; height: 100%; position: fixed; top: 0px; left: 0px; right: 0px; background-color: rgba(0, 0, 0, 0.701961); z-index: 1000; transition: none 0.2s ease; opacity: 1;"></div>
<div id="pay-select" style="display:none;">
    <div class="payway wechat">
        微信支付(推荐)
    </div>
    <div class="payway zhifubao">
        支付宝支付
    </div>
</div>
<div class="container imgCode" style="display: none;">
    <div class="row text-center">
        <label style="margin-top: 15px;">长按二维码识别并支付</label>
    </div>
    <div class="row">
        <div style="text-align: center;">
            <img style="margin: auto;" id="imgCode" width="200px" height="200px">
        </div>
    </div>
</div>
<div class="modal" id="confirmModal" style="display:none; height: 100%;">
    <div class="modal-backdrop fade in" style="height: 100%;"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                出错了！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Client/enroll.order.js?v=1.0"></script>
<script type="text/javascript" src="/default/assets/js/bootstrapValidation.js"></script>
{% endblock %}