{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="container enroll">
    <div class="pageTitle" style="padding-right: 15px; padding-left:60px;">
        选择课程<span class="pull-right filter" style="font-size: 12px;">筛选<span class="glyphicon glyphicon-filter"></span></span>
    </div>
    <div class="row">
        <ul class="exam-list clearfix list-unstyled">
        </ul>
        <div class="more" style="text-align: center; margin-bottom: 15px;">
            <button id="btnMore" class="btn btn-default" type="submit">加载更多</button>
        </div>
        <input type="hidden" id="page" value="0" />
    </div>
</div>
<input type="hidden" id="schoolId" value="{{ schoolId }}" />
<input type="hidden" id="gradeId" value="{{ gradeId }}" />
<input type="hidden" id="subjectId" value="{{ subjectId }}" />
<input type="hidden" id="categoryId" value="{{ categoryId }}" />
<!--modal-->
<div class="container enroll-filter" style="display: none;">
    <div class="row text-center">
        <label style="margin-top: 15px;">选择课程</label><span class="glyphicon glyphicon-remove-circle pull-right" aria-hidden="true"></span>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="drpSchool" class="control-label">校区:</label>
            <select name="drpSchool" id="drpSchool" class="form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="drpGrade" class="control-label">年级:</label>
            <select name="drpGrade" id="drpGrade" class="form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="drpSubject" class="control-label">科目:</label>
            <select name="drpSubject" id="drpSubject" class="form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="drpCategory" class="control-label">难度:</label>
            <select name="drpCategory" id="drpCategory" class="form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input class="btn btn-large btn-primary btn-search" type="submit" value="开始搜索" />
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Client/enroll.class.filter.js?v=1.0"></script>
<script type="text/javascript" src="/default/assets/js/moment.js"></script>
{% endblock %}