{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="container enroll">
    <div class="pageTitle">
        <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span>课程订单
    </div>
    <div class="row exam-detail">
        <ul class="exam-list clearfix list-unstyled">
            {% if trainClass %}
            <li class="exam-card card " style="margin-bottom: 0" data-obj="{{ trainClass|dump }}">
                <div id="{{ trainClass._id }}" class="exam link">
                    <div class="exam-info">
                        <div>
                            <h3>{{ trainClass.name }}</h3>
                        </div>
                        <div class="class-price">
                            <strong class="price">
                                ￥0
                            </strong>
                        </div>
                        <div>剩余名额：{{ trainClass.totalStudentCount-trainClass.enrollCount }} </div>
                    </div>
                </div>
            </li> {% endif %}
        </ul>
        <ul class="exams clearfix list-unstyled">
        </ul>
        <div class="form-group">
            <label class="control-label">数量:</label>
            <div class="num_and_more pull-right">
                <div class="num_wrap">
                    <span class="minus"></span>
                    <div class="input_wrap">
                        <input class="num" id="counts" name="counts" type="tel" value="1" max="200" lowestbuy="1">
                    </div>
                    <span class="plus"></span>
                </div>
            </div>
        </div>
        <input type="hidden" id="classId" value="{{ classId }}" />
        <div class="form-group coupon" style="display: none;">
            <label for="coupon" class="control-label">优惠:</label>
            <div class="couponlist ">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">合计:</label>
            <span class="total"></span>元
        </div>
    </div>
    <div class="enroll-submit exam">
        {% if not disability and not notOriginal %}
        <button id="btnPay" class="btn btn-danger" type="button">立刻支付</button> {% endif %}
    </div>
</div>
<!--modal-->
<div id="bgBack" style="display:none; height: 100%; position: fixed; top: 0px; left: 0px; right: 0px; background-color: rgba(0, 0, 0, 0.701961); z-index: 1000; transition: none 0.2s ease; opacity: 1;"></div>
<div id="pay-select" style="display:none;">
    <div class="payway wechat">
        微信支付(推荐)
    </div>
</div>
<div class="modal" id="confirmModal" style="display:none; height: 100%;">
    <div class="modal-backdrop fade in" style="height: 100%;"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                出错了！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Client/enroll.order.js?v=1.0"></script>
<script type="text/javascript" src="/default/assets/js/Client/popCouponHelper.js?v=1.0"></script>
<script type="text/javascript" src="/default/assets/js/bootstrapValidation.js"></script>
{% endblock %}