<%- include partial/header %>
<script type="text/javascript"> var letvcloud_player_conf =  {"uu":"xvmd54wnsq","vu":"f6d2eb8845","pu":"2B1F8B7B20","auto_play":0,"gpcflag":1,"width":640,"height":360};</script><script type="text/javascript" src="http://yuntv.letv.com/bcloud.js"></script>
<div class="login content_body">
<form id="loginForm" method="post">
<div class="form-group">
    <label >用户名</label>
   <input class="form-control" maxlength="20" type="text" name="name"/>
  </div>
  <div class="form-group">
    <label >密码</label>
   <input class="form-control" maxlength="20" type="password" name="password"/>
  </div>
  <div class="form-group">
  <label style="height:34px;">&nbsp;</label>
    <input class="pull-right btn btn-large btn-primary" type="submit" value="登录"/>
  </div>
</form>
</div>
<script type="text/javascript" src="/default/assets/js/bootstrapValidation.js"></script>
<script type="text/javascript" src="/default/assets/js/login.js"></script>
<%- include partial/footer %>