{% extends "Client/partial/main-header.html" %} {% block main %}
<div class="container enroll personalCenter" id="Enroll-student">
    <div class="pageTitle">
        <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span>订单详情
    </div>
    <div class="orderList">
        <ul class="student-list clearfix list-unstyled">
            {% if order %}
            <li class="clearfix" style="padding-bottom: 10px;">
                <div>
                    <div class="detail">
                        <div class="studentName">学员:{{ order.studentName }}</div>
                        <div class="">订单编号:{{ order._id }}</div>
                        <div class="">订单日期:{{ order.orderDate.toLocaleDateString() }}</div>
                    </div>
                    <div class="title">{{ order.examName }}</div>
                    {% if train %}
                    <div class="classDetail">
                        <div class="">日期:&nbsp;&nbsp;{{ train.examDate.toLocaleDateString() }} </div>
                        <div class="">时间:&nbsp;&nbsp;{{ train.examTime }}</div>
                        {% if order.examAreaName %}
                        <div class="">地点:&nbsp;&nbsp;{{ order.examAreaName }}</div>
                        {% endif %}
                    </div>
                    {% endif %}

                    <div class="price">
                        {% if order.scores and order.scores.length>0 %} {% for score in order.scores %}
                        <div class="score">
                            <div>科目:{{ score.subjectName }} 成绩:{% if train and train.isScorePublished %}{{ score.score }}{% endif %} {% if score.report and train and train.isScorePublished %} 报告:
                                <a href="/uploads/{{ score.report }}">下载</a>{% endif %}</div>
                        </div>
                        {% endfor %} {% endif %}
                    </div>
                    <button type="button" class="btn btn-primary btn-xs btnEnroll pull-right">课程报名</button>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<script type="text/javascript" src="/default/assets/js/Client/personalCenter_exam.detail.js?v=1.0"></script>
<script type="text/javascript" src="/default/assets/js/moment.js"></script>
{% endblock %}