{% extends "Teacher/partial/main-header.html" %} {% block main %}
<div class="container enroll rollCall">
    <input type="hidden" id="id" value="{{ id }}" />
    <input type="hidden" id="bookId" value="{{ bookId }}" />
    <div class="pageTitle" style="padding-right: 0;">
        <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span>查作业
    </div>
    <div class="row" style="margin-bottom: 30px;">
        <ul class="exam-list clearfix list-unstyled">
        </ul>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Teacher/homework_class_students.js?v=1.00"></script>
{% endblock %}