{% extends "Teacher/partial/main-header.html" %} {% block main %}
<div class="container enroll rollCall">
    <input type="hidden" id="id" value="{{ id }}" />
    <div class="pageTitle" style="padding-right: 0;">
        <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span>点名
    </div>
    <div class="row" style="margin-bottom: 30px;">
        <ul class="exam-list clearfix list-unstyled">
        </ul>
    </div>
    <div class="enroll-submit exam">
        <button id="btnAbsent" class="btn btn-primary" type="button">缺勤</button>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Teacher/rollCall_class_students.js?v=1.000"></script>
{% endblock %}