* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

body {
    background-color: #fff;
    height: 100%;
    font-family: "Microsoft YaHei";
}

.login {
    width: 300px;
}

.content_body {
    display: block;
    margin: 20px auto;
}

.admin-header {
    height: 80px;
    background-color: #354b66;
    color: white;
}

.admin-header::after {
    clear: both;
}

.admin-header .logo {
    display: inline-block;
    width: 200px;
    font-size: 34px;
    font-weight: bold;
    padding-left: 50px;
}

.admin-header .menu-top {
    display: inline-block;
}

.admin-header .menu-top li {
    /*font-weight: bold;*/
    font-size: 18px;
    margin-right: 35px;
    margin-top: 50px;
}

.admin-header .menu-top li:first-child {
    margin-left: 10px;
}

.admin-header .menu-top li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.admin-header .userinfo {
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}

.admin-header .userinfo a {
    color: white;
    margin-left: 20px;
}

.admin-header .userinfo a:hover {
    text-decoration: underline;
}

.admin-left {
    width: 200px;
    /*display: inline-block;*/
    background-color: #e8ebef;
    border-right: 1px solid #BFC8D8;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.admin-left .title {
    color: #354b66;
    /*padding-left: 53px;*/
    /*font-weight: bold;*/
    font-size: 18px;
    border-bottom: 1px solid #BFC8D8;
    line-height: 24px;
    padding: 8px 0 8px 53px;
}

.admin-left li {
    color: #354b66;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 0 0 53px;
}

.admin-left li.block {
    border-bottom: 1px solid #BFC8D8;
}

.admin-left li:hover {
    background-color: #d6dbe0;
    cursor: pointer;
}

.admin-left li.active {
    background-color: #475d76;
    color: white;
}

.admin-left li.active:hover {
    background-color: #475d76;
    color: white;
}

.admin-main {
    margin-left: 200px;
}

.admin-main .title h1 {
    font-size: 14px;
    margin: 5px 10px;
}

.admin-main .toolbar {
    background-color: #bcc2cd;
    padding: 7px;
}

.admin-main .toolbar button {
    margin-left: 10px;
}

.admin-main .content table tr td .btn-group a {
    height: 20px;
    padding: 1px 12px;
    font-size: 12px;
}

.modal .modal-header {
    background-color: #354b66;
    color: white;
}

.modal .close {
    color: white;
    opacity: 0.7;
}

.modal .close:hover {
    opacity: 1;
}