body {
    background-color: #f8f8f8;
}

footer,
.container {
    margin: 0 auto;
    width: 100%;
    background-color: #f8f8f8;
}

@media (min-width: 360px) {
    .nav-bar-header {
        height: 112.5px;
    }
}

@media (min-width: 414px) {
    .nav-bar-header {
        height: 129.375px;
    }
}

@media (min-width: 540px) {
    .nav-bar-header {
        height: 168.75px;
    }
    .goods-card.card {
        margin: 8px 0;
        float: left;
        width: 263px;
    }
    footer,
    .container,
    .article-card .photo-block
     {
        width: 540px;
    }

}

footer {
    min-height: 80px;
    border-top: 3px solid #cfcfcf;
    margin-top: 30px;
    padding-top: 15px;
}

pre {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    font-size: 14px;
}

.enroll-filter{
    position: relative;
    padding: 0 45px;
}

.enroll-filter .btn{
    border-radius: 0;
    height: 44px;
}

.enroll-filter .row{
    margin-bottom: 20px;
}
.enroll-filter .dropdown.selectClass .btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-full{
    width: 100%;
}

.enroll .goods-list{
    background-color: #e7e9ec;
}
.enroll .goods-list .goods-card{
    padding: 10px 20px 10px 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 6px;
    background-color: #f8f8f8;
}
.enroll .goods-list .goods-card div.good{
    display: flex;
    justify-content: space-between;
}
.enroll .goods-list .goods-card div.good .photo-block{
    flex: 0 0 18%;
}
.enroll .goods-list .goods-card div.good .info-price{
    flex: 0 0 20%;
    align-self: center;
}
.enroll .goods-list .goods-card div.good .info-price .goods-price{
    text-align: center;
    color: #f94c44;
    font-size: 16px;
    font-weight: bold;
}
.enroll .goods-list .goods-card div.good .info-price .goods-price::before{
    content: "￥";
    font-size: 11px;
}
.enroll .goods-list .goods-card div.good .good-info{
    flex: 0 0 62%;
    padding-left: 10px;
    color: #555;
    font-size: 13px;
}
.enroll .goods-list .goods-card div.good .good-info h3{
    font-size: 15px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 0 0 5px;
}
.enroll .goods-list .goods-card div.good .photo-block img{
    width: 100%;    
}