body {
    background-color: #f8f8f8;
}

footer,
.container {
    margin: 0 auto;
    width: 100%;
    background-color: #f8f8f8;
}

@media (min-width: 360px) {
    .nav-bar-header {
        height: 112.5px;
    }
}

@media (min-width: 414px) {
    .nav-bar-header {
        height: 129.375px;
    }
}

@media (min-width: 540px) {
    .nav-bar-header {
        height: 168.75px;
    }
}

#loginForm {
    margin: 10px 25px;
}

.enroll-filter {
    position: relative;
    padding: 0 45px;
}

.enroll-filter .btn {
    border-radius: 0;
    height: 40px;
    width: 100%;
}

.enroll-filter .row {
    margin-bottom: 20px;
}

.enroll .pageTitle {
    text-align: center;
    height: 40px;
    background-color: #d9534f;
    line-height: 40px;
    color: white;
    margin: 0 -15px;
    padding-right: 20px;
    font-size: 15px;
}

.enroll .pageTitle .glyphicon-menu-left {
    font-size: 20px;
    margin-left: 5px;
    margin-top: 10px;
}

.enroll .enroll-submit {
    width: 100%;
    border-top: 1px solid #CBCBCB;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 41px;
    color: #666;
}

.enroll .exam-list {
    background-color: #e7e9ec;
}

.enroll .exam-list .exam-card {
    padding: 10px 15px 10px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 6px;
    background-color: #f8f8f8;
}

.enroll .exam-list .exam-card .exam .exam-info .enroll-info {
    display: flex;
    justify-content: space-between;
}

.enroll .exam-list .exam-card div.exam .exam-info,
.exam-detail .exam .exam-info {
    padding-left: 10px;
    color: #555;
    font-size: 13px;
}

.enroll .exam-list .exam-card div.exam .exam-info h3 {
    font-size: 15px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 0 0 5px;
}

.enroll .exam-list .exam-card div.exam .exam-info .exam-count {
    margin-bottom: 0;
}

.enroll .exam-list .exam-card div.exam .exam-info .exam-count .full,
.exam-detail .exam .exam-info .exam-count .full {
    color: #F44;
    font-weight: bold;
}

.exam-detail {
    margin: 7px 7px 7px 0px;
}

.exam-detail .exam .exam-info h2 {
    font-size: 1.8rem;
    margin-bottom: 22px;
    color: #555;
    font-weight: 700;
    line-height: normal;
}

.exam-detail .exam .exam-content {
    font-size: 1.5rem;
    line-height: 1.8em;
    margin-bottom: 50px;
    color: #444;
    margin-left: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.exam-detail .exam .exam-content .title,
#Enroll-select .title,
#Enroll-student .title,
#Enroll-student-edit .title {
    border-bottom: solid 1px #ddd;
    font-size: 14px;
    color: #555;
    font-weight: 700;
    line-height: normal;
    padding: 20px 0 5px 5px;
    margin-bottom: 10px;
}

#Enroll-select .title,
#Enroll-student .title,
#Enroll-student-edit .title {
    text-align: center;
}

.enroll .enroll-submit.exam button,
#Enroll-select #btnNext,
#Enroll-student #btnNewStudent,
#Enroll-student-edit #btnSave {
    width: 100%;
    height: 40px;
    border-radius: 0;
}

#Enroll-select,
#Enroll-student,
#Enroll-student-edit {
    padding: 0 25px;
    /*overflow: hidden;*/
    position: absolute;
    z-index: 1000;
    background: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
    transition: all 300ms ease;
    opacity: 1;
}

#confirmModal {
    padding: 0 25px;
    /*overflow: hidden;*/
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    left: 0px;
    right: 0px;
    visibility: visible;
    opacity: 1;
    width: 100%;
    text-align: center;
    background: transparent;
}

#confirmModal .modal-content {
    margin: auto;
    background: white;
    transform: translate3d(0px, 0px, 0px);
    transition: all 300ms ease;
    /*margin-top: 20px;*/
}

#Enroll-select .title .glyphicon-remove-circle {
    margin-top: -10px;
    font-size: 20px;
}

#Enroll-select .student {
    height: 40px;
}

#Enroll-student .student .student-list {
    border-top: solid 1px #ddd;
}

#Enroll-student .student .student-list li {
    border-bottom: solid 1px #ddd;
    padding: 5px;
    font-size: 14px;
}

#Enroll-student .student .glyphicon-ok {
    color: #d9534f;
    margin-right: 10px;
}