{% extends "Server/partial/rollCallMain.html" %} {% block left %} {% include "Server/partial/rollCallSetting.html" %} {% endblock %} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name" class="control-label">校区:</label>
                        <select name="searchSchool" id="searchSchool" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="startDate" class="control-label" style="width: 65px;">开始时间:</label>
                        <input type="text" maxlength="30" class="form-control" name="startDate" id="startDate">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="endDate" class="control-label" style="width: 65px;">截至时间:</label>
                        <input type="text" maxlength="30" class="form-control" name="endDate" id="endDate">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="isDeleted" class="control-label">状态:</label>
                        <select name="isDeleted" id="isDeleted" class="form-control">
                            <option value="0">未删除</option>
                            <option value="1">已删除</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="content mainModal">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:400px;">课程</th>
                <th style="width:100px;">老师</th>
                <th style="width:200px;">上课时间</th>
                <th style="width:200px;">点名时间</th>
                <th style="">操作</th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
<div id="mainModal">
    <input type="hidden" id="total" value="0" />
    <input type="hidden" id="page" value="0" /> {% include "Server/partial/popuppaging.html" %}
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/adminRollCallClassList.js?v=1.001"></script>
<script type="text/javascript" src="/default/assets/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/default/assets/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/default/assets/js/moment.js"></script>
{% endblock %}