{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/enrollExamSetting.html" %} {% endblock
%} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="content adminEnroll">
    <div class="panel panel-default">
        <div class="panel-heading">学生信息</div>
        <div class="panel-body">
            <form id="studentInfo">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="studentName" class="control-label">姓名:</label>
                            <input type="text" maxlength="30" class="form-control" name="studentName" id="studentName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mobile" class="control-label">手机号:(固话：513...)</label>
                            <input type="text" maxlength="11" class="form-control" name="mobile" id="mobile">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sex" class="control-label">性别:</label>
                            <select name="sex" id="sex" class="form-control">
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="grade" class="control-label">年级:</label>
                            <select name="grade" id="grade" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="className" class="control-label">班级:</label>
                            <input type="number" maxlength="30" class="form-control" name="className" id="className">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="publicSchool" class="control-label">学校:</label>
                            <div class="btn-group">
                                <input type="hidden" class="form-control" name="publicSchoolId" id="publicSchoolId">
                                <input type="text" maxlength="30" class="form-control" name="publicSchool" id="publicSchool">
                                <button type="button" id="panel_btnSchool" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="btnAddStudent" class="btn btn-primary panelButton">添加学生</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="content adminEnroll">
    <div class="panel panel-default">
        <div class="panel-heading">报名信息</div>
        <div class="panel-body">
            <form id="enrollInfo">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="studentName" class="control-label">姓名:</label>
                            <div class="btn-group">
                                <input type="hidden" class="form-control" name="studentId" id="studentId">
                                <input type="text" maxlength="30" readonly class="form-control" name="studentName" id="studentName">
                                <button type="button" id="panel_btnStudent" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mobile" class="control-label">手机号:</label>
                            <input type="text" maxlength="11" readonly class="form-control" name="mobile" id="mobile">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sex" class="control-label">性别:</label>
                            <select name="sex" disabled id="sex" class="form-control">
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="examName" class="control-label">测试名称:</label>
                            <div class="btn-group">
                                <input type="hidden" class="form-control" name="examId" id="examId">
                                <input type="text" readonly class="form-control" name="examName" id="examName">
                                <button type="button" id="panel_btnExam" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="examCategoryName" class="control-label">测试类别:</label>
                            <input type="hidden" class="form-control" name="examCategoryId" id="examCategoryId">
                            <input type="text" class="form-control" readonly name="examCategoryName" id="examCategoryName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="examAreas" class="control-label">考区:</label>
                            <select name="examAreas" id="examAreas" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="btnEnroll" class="btn btn-primary panelButton">报名</button>
                        <button type="button" id="btnHideEnroll" class="btn btn-primary panelButton">隐式报名</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="examPrice" class="control-label">报名费(元):</label>
                            <input type="text" class="form-control" readonly name="examPrice" id="examPrice">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-dialog" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="selectModalLabel">选择</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="InfoSearch">
                            <div class="row form-horizontal">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="studentName" class="control-label">姓名:</label>
                                        <input type="text" maxlength="30" class="form-control" name="studentName" id="studentName">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="mobile" class="control-label">手机号:</label>
                                        <input type="text" maxlength="30" class="form-control" name="mobile" id="mobile">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>学生姓名</th>
                            <th>电话号码</th>
                            <th width="120px">性别</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <input type="hidden" id="total" value="0" />
                <input type="hidden" id="page" value="0" /> {% include "Server/partial/popuppaging.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/adminEnrollExam.js?v=1.003"></script>
<script type="text/javascript" src="/default/assets/js/Server/popSchoolHelper.js?v=1.0"></script>
<script type="text/javascript" src="/default/assets/js/Server/popStudentHelper.js?v=1.0"></script>
{% endblock %}