{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/classSetting.html" %} {% endblock %}
{% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-24">
                <div class="form-group">
                    <label for="searchSchool" class="control-label">校区:</label>
                    <select name="searchSchool" id="searchSchool" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-24">
                <div class="form-group">
                    <label for="searchYear" class="control-label">选择年度</label>
                    <select name="searchYear" id="searchYear" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-24 attribute">
                <div class="form-group">
                    <label for="searchAttribute" class="control-label">学期:</label>
                    <select name="searchAttribute" id="searchAttribute" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-24">
                <div class="form-group">
                    <button type="button" id="btnSubmit" class="btn btn-primary">批量发布</button>
                    <button type="button" id="btnStop" class="btn btn-primary">批量停用</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-24">
                <div class="form-group">
                    <label for="avatar" class="control-label">例外年级</label>
                    <select name="searchGrade" id="searchGrade" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-24">
                <div class="form-group">
                    <button type="button" id="btnBatchAdd" class="btn btn-primary">批量+100</button>
                    <button type="button" id="btnBatchMin" class="btn btn-primary">批量-100</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/batchTrainClassPublish.js?v=1.004"></script>
{% endblock %}