{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/studentSetting.html" %} {% endblock %} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="studentName" class="control-label">姓名:</label>
                        <input type="text" maxlength="30" class="form-control" name="studentName" id="studentName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="mobile" class="control-label">号码:</label>
                        <input type="text" maxlength="11" class="form-control" name="mobile" id="mobile">
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="content mainModal">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>订单号</th>
                <th style="width:120px;">学生名</th>
                <th style="width:180px;">测试课程</th>
                <th style="width:180px;">成绩</th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-24">
                            <div class="form-group">
                                <label class="control-label">测试名称:</label>
                                <label class="control-label" name="name" id="name"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-24">
                            <div class="form-group">
                                <label for="examDate" class="control-label">测试日期:</label>
                                <label class="control-label" name="examDate" id="examDate"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-24">
                            <div class="form-group">
                                <label for="examTime" class="control-label">测试时间:</label>
                                <label class="control-label" name="examTime" id="examTime"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-24">
                            <div class="form-group">
                                <label class="control-label">校区:</label>
                                <label class="control-label" name="schoolArea" id="schoolArea"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-24">
                            <div class="form-group">
                                <label class="control-label">考场:</label>
                                <label class="control-label" name="classRoomName" id="classRoomName"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-24">
                            <div class="form-group">
                                <label class="control-label">考号:</label>
                                <label class="control-label" name="examNo" id="examNo"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-24">
                            <div class="form-group">
                                <label class="control-label">成绩:</label>
                                <label class="control-label" name="score" id="score"></label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="id" id="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/cardSearch.js?v=1.0"></script>
<script type="text/javascript" src="/default/assets/js/moment.js"></script>
{% endblock %}