{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/enrollSetting.html" %} {% endblock %} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="content adminEnroll">
    <div class="panel panel-default">
        <div class="panel-heading">调班信息</div>
        <div class="panel-body">
            <form id="enrollInfo">
                <div class="row">
                    <input type="hidden" class="form-control" name="attributeId" id="attributeId" value={{order.attributeId}}>
                    <input type="hidden" class="form-control" name="attributeName" id="attributeName" value={{order.attributeName}}>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="studentName" class="control-label">姓名:</label>
                            <div class="btn-group">
                                <input type="hidden" class="form-control" name="studentId" id="studentId" value={{order.studentId}}>
                                <input type="text" maxlength="30" readonly class="form-control" name="studentName" id="studentName" value={{order.studentName}}>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mobile" class="control-label">手机号:</label>
                            <input type="text" maxlength="11" readonly class="form-control" name="mobile" id="mobile" value={{order.mobile}}>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="trainName" class="control-label">课程名称:</label>
                            <div class="btn-group">
                                <input type="hidden" class="form-control" name="oldTrainId" id="oldTrainId" value={{order.trainId}}>
                                <input type="hidden" class="form-control" name="trainId" id="trainId" value={{order.trainId}}>
                                <input type="text" maxlength="30" readonly class="form-control" name="trainName" id="trainName" value={{order.trainName}}>
                                <button type="button" id="panel_btnTrain" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="trainPrice" class="control-label">培训费:</label>
                            <input type="text" maxlength="10" class="form-control" readonly name="trainPrice" id="trainPrice" value={{order.trainPrice}}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="materialPrice" class="control-label">教材费:</label>
                            <input type="text" maxlength="10" class="form-control" readonly name="materialPrice" id="materialPrice" value={{order.materialPrice}}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="discount" class="control-label">折扣(%):</label>
                            <input type="text" maxlength="10" class="form-control" name="discount" id="discount" value={{order.discount}}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="totalPrice" class="control-label">实际培训费:</label>
                            <input type="text" maxlength="10" class="form-control" name="totalPrice" id="totalPrice" value={{order.totalPrice}}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="realMaterialPrice" class="control-label">实际教材费:</label>
                            <input type="text" maxlength="10" class="form-control" name="realMaterialPrice" id="realMaterialPrice" value={{order.realMaterialPrice}}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="oldTotalPrice" class="control-label">订单培训费:</label>
                            <input type="text" maxlength="10" class="form-control" readonly name="oldTotalPrice" id="oldTotalPrice" value={{order.totalPrice}}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="totalPrice" class="control-label">已退费用:</label>
                            <input type="text" maxlength="10" class="form-control" readonly name="rebatePrice" id="rebatePrice" value={{order.rebatePrice}}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="comment" class="control-label">备注:</label>
                            <textarea maxlength="1000" rows="3" class="form-control" name="comment" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="hidden" class="form-control" name="oldOrderId" id="oldOrderId" value={{order._id}}>
                        <button type="button" id="btnEnroll" class="btn btn-primary panelButton">调班</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-dialog" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="selectModalLabel">选择</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form id="InfoSearch">
                            <div class="row form-horizontal examSearchInfo">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="studentName" class="control-label">姓名:</label>
                                        <input type="text" maxlength="30" class="form-control" name="studentName" id="studentName">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="mobile" class="control-label">手机号:</label>
                                        <input type="text" maxlength="30" class="form-control" name="mobile" id="mobile">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>学生姓名</th>
                            <th>电话号码</th>
                            <th width="120px">性别</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <input type="hidden" id="total" value="0" />
                <input type="hidden" id="page" value="0" /> {% include "Server/partial/popuppaging.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/changeClassDetail.js?v=1.0"></script>
{% endblock %}