{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/quizSetting.html" %} {% endblock %}
{% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="content mainModal">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:200px;">课程</th>
                <th style="width:200px;">报名人数</th>
                <th>总人数</th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<script type="text/javascript" src="/default/assets/js/Server/classEnrollList.js?v=1.0"></script>
{% endblock %}