{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/financialSetting.html" %} {% endblock
%} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-4">
                    <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="toolbar">
    <div class="toolbar-list">
    </div>
</div>
<div class="content mainModal">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:300px;">年级</th>
                <th style="width:150px;">科目</th>
                <th style="width:100px;">原始人数</th>
                <th style="width:100px;">留存人数</th>
                <th>留存率</th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
{% endblock %} {% block modal %}
<script type="text/javascript" src="/default/assets/js/Server/compareGradeList.js?v=1.00"></script>
{% endblock %}