{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/basicSetting.html" %} {% endblock %} {% block main %}
<div class="title">
    <h1>
        {{ title }}>>{{ examRoom.examName }}
        <input type="hidden" id="examId" value="{{ examRoom.examId }}" />
        <input type="hidden" id="id" value="{{ examRoom._id }}" />
        <input type="hidden" id="entity" data-obj="{{ examRoom.classRooms|dump }}" />
    </h1>
</div>
<div class="toolbar">
    <div class="toolbar-list">
        <button id="btnSave" class="btn btn-default btn-sm">保存</button>
        <button id="btnAssign" style="display: none" class="btn btn-default btn-sm">分配考号</button>
        <button id="btnReturn" class="btn btn-default btn-sm">返回</button>
    </div>
</div>
<div class="content mainModal">
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/examRoomDetail.js?v=1.0"></script>
{% endblock %}