{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/financialSetting.html" %} {% endblock %} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="startDate" class="control-label" style="width: 65px;">年级:</label>
                        <select name="searchGrade" id="searchGrade" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" id="btnExport" class="btn btn-primary panelButton">导出</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %} {% block modal %}
<script type="text/javascript" src="/default/assets/js/Server/gradeMOneList.js?v=1.000"></script>
{% endblock %}