{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/financialSetting.html" %} {% endblock %} {% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-24">
                    <button type="button" id="btnExportOrder1" class="btn btn-primary">导出已支付被取消订单</button>
                </div>
                <div class="col-md-24">
                    <button type="button" id="btnExportRoll" class="btn btn-primary" style="display: none;">导出点名册</button>
                </div>
                <div class="col-md-24">
                    <button type="button" id="btnSetSuper" class="btn btn-primary" style="display: none;">设置超级用户</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %} {% block modal %}
<script type="text/javascript" src="/default/assets/js/Server/otherReportList.js?v=1.000"></script>
{% endblock %}