{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/enrollSetting.html" %} {% endblock %}
{% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>订单号</th>
                <th style="width:100px;">手机</th>
                <th style="width:180px;">活动</th>
                <th style="width:120px;">选项</th>
                <th style="width:120px;">数量</th>
                <th style="width:120px;">费用</th>
            </tr>
        </thead>
        <tbody id="gridBody">
            {% if trainOrder %}
            <tr id="order" data-obj={{ trainOrder._id }}>
                <td>
                    {{ trainOrder._id }}
                </td>
                <td>
                    {{ trainOrder.mobile }}
                </td>
                <td>
                    {{ trainOrder.trainName }}
                </td>
                <td>
                    {{ trainOrder.examName }}
                </td>
                <td>
                    {{ trainOrder.peopleCount }}
                </td>
                <td>
                    {{ trainOrder.totalPrice }}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="" style="margin-top:20px;">
        <div class="col-md-20">
            <div class="form-group">
                <label for="payWay" class="control-label">支付方式:</label>
                <input type="radio" checked name="payWay" value="0">现金
                <input type="radio" name="payWay" value="1">刷卡
                <input type="radio" name="payWay" value="2">转账
                <input type="radio" name="payWay" value="8">支付宝
                <input type="radio" name="payWay" value="9">微信
            </div>
        </div>
        <div class="col-md-4">
            <button type="button" id="btnPay" class="btn btn-primary panelButton">付款</button>
        </div>
    </div>
</div>
{% endblock %} {% block modal %}

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div style="text-align: center;">
                    <img style="margin: auto;" src="{{ imgCode }}" width="200px" height="200px">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnSave" class="btn btn-primary">完成</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/payList.js?v=1.0"></script>
{% endblock %}