{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/enrollSetting.html" %} {% endblock %}
{% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="studentName" class="control-label">电话:</label>
                        <input type="text" maxlength="30" class="form-control" name="studentName" id="studentName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="className" class="control-label">活动:</label>
                        <input type="text" maxlength="30" class="form-control" name="className" id="className">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="isSucceed" class="control-label">状态:</label>
                        <select name="isSucceed" id="isSucceed" class="form-control">
                            <option value="1">已报名</option>
                            <option value="6">已预存</option>
                            <option value="7">已退班</option>
                            <option value="9">已取消</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:180px;">订单号</th>
                <th style="width:80px;">状态</th>
                <th style="width:80px;">电话</th>
                <th>课程</th>
                <th style="width:100px;">价格</th>
                <th style="width:80px;">支付方式</th>
                <th style="width:80px;">已退金额</th>
                <th style="width:100px;">操作</th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
<div id="selectModal">
    <input type="hidden" id="total" value="0" />
    <input type="hidden" id="page" value="0" /> {% include "Server/partial/popuppaging.html" %}
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-dialog" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div style="color:red; margin-bottom:15px; font-weight:bold;">退费为正数，补交费用为负数</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Id" class="control-label">订单:</label>
                                <input type="text" maxlength="32" readonly class="form-control" name="Id" id="Id">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="rebatePrice" class="control-label">已退金额:</label>
                                <input type="text" maxlength="30" readonly class="form-control" name="rebatePrice" id="rebatePrice">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="totalPrice" class="control-label">已收费:</label>
                                <input type="text" maxlength="30" readonly class="form-control" name="totalPrice" id="totalPrice">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="price" class="control-label">退款培训费:</label>
                                <input type="text" maxlength="20" class="form-control" name="price" id="price" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="payWay" class="control-label">退款方式:</label>
                                <select name="payWay" id="payWay" class="form-control">
                                    <option value="0">现金</option>
                                    <option value="1">刷卡</option>
                                    <option value="2">转账</option>
                                    <option value="8">支付宝</option>
                                    <option value="9">微信</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-24">
                            <div class="form-group">
                                <label for="comment" class="control-label">备注:</label>
                                <textarea maxlength="1000" rows="3" class="form-control" name="comment" id="comment"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnOnlineRebate" class="btn btn-primary hidden">线上退费</button>
                <button type="button" id="btnOfflineRebate" class="btn btn-primary">部分退费</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/rebateOrderList.js?v=1.0"></script>
{% endblock %}