{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/classSetting.html" %} {% endblock %}
{% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="width: 160px" for="newStudentStatus" class="control-label">点名系统课程的年度:</label>
                        <select style="width: 160px" name="drpYear" id="drpYear" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4 attribute">
                    <div class="form-group">
                        <label for="searchAttribute" class="control-label">学期:</label>
                        <select name="searchAttribute" id="searchAttribute" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" id="btnSave" class="btn btn-primary panelButton">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                出错了?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/rollCallConfigure.js?v=1.000"></script>
{% endblock %}