{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/studentSetting.html" %} {% endblock %} {% block main %}
<div class="title">
    <h1>
        {{ title }}<a id="btnReturn" href="">返回</a>
        <input type="hidden" id="id" value="{{ id }}" />
        <input type="hidden" id="fromPage" value="{{ fromPage }}" />
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <div class="score detail">
            <div>
                <strong>学员:</strong><span class="studentName"></span>
            </div>
            <div>
                <strong>考试:</strong><span class="examName"></span>
            </div>
            <div>
                <strong>日期:</strong><span class="examDate"></span>
            </div>
            <div>
                <strong>时间:</strong><span class="examTime"></span>
            </div>
            <div class="score">
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block modal %}
<script type="text/javascript" src="/default/assets/js/Server/studentScore.js?v=1.0"></script>
<script type="text/javascript" src="/default/assets/js/moment.js"></script>
{% endblock %}