{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/studentSetting.html" %} {% endblock
%} {% block main %}
<div class="title">
    <h1>
        {{ title }}>
        <a href="/admin/studentAccountList">返回</a>
    </h1>
    <input type="hidden" class="form-control" name="id" id="id" value={{id}}>
    <input type="hidden" class="form-control" name="accountId" id="accountId">
</div>
<div class="content">
    <div class="panel panel-default mainModal">
        <div class="panel-heading">学生信息
            <span style="margin-left: 100px;">账号(手机号):
                <span class="account"></span>
            </span>
        </div>
    </div>
</div>
<div class="content">
    <div class="panel panel-default classModal">
        <div class="panel-heading">订单</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:200px">订单号</th>
                        <th style="width:200px">活动</th>
                        <th style="width:80px">费用</th>
                        <th style="width:80px">已退费</th>
                        <th style="width:100px">支付方式</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody id="gridBody">
                </tbody>
            </table>
            <div>
                <input type="hidden" id="total" value="0" />
                <input type="hidden" id="page" value="0" /> {% include "Server/partial/popuppaging.html" %}
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="panel panel-default examModal">
        <div class="panel-heading">常用联系人</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:120px">姓名</th>
                        <th style="">电话</th>
                    </tr>
                </thead>
                <tbody id="gridBody">
                </tbody>
            </table>
            <div>
                <input type="hidden" id="total" value="0" />
                <input type="hidden" id="page" value="0" /> {% include "Server/partial/popuppaging.html" %}
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="panel panel-default couponModal">
        <div class="panel-heading">优惠券</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:200px">优惠券</th>
                        <th style="width:200px">有效期</th>
                        <th style="width:180px">科目</th>
                        <th style="width:180px">状态</th>
                        <th>金额</th>
                    </tr>
                </thead>
                <tbody id="gridBody">
                </tbody>
            </table>
            <div>
                <input type="hidden" id="total" value="0" />
                <input type="hidden" id="page" value="0" /> {% include "Server/partial/popuppaging.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/studentDetail.js?v=1.005"></script>
<script type="text/javascript" src="/default/assets/js/moment.js"></script>
{% endblock %}