{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/classSetting.html" %} {% endblock %}
{% block main %}
<div class="title">
    <h1>
        {{ title }}
    </h1>
</div>
<div class="panel panel-default mainModal">
    <div class="panel-body">
        <form id="InfoSearch">
            <div class="row form-horizontal">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="className" class="control-label">课程:</label>
                        <input type="text" maxlength="30" class="form-control" name="className" id="className">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="searchSchool" class="control-label">校区:</label>
                        <select name="searchSchool" id="searchSchool" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="searchGrade" class="control-label">年级:</label>
                        <input type="text" maxlength="30" class="form-control" name="searchGrade" id="searchGrade">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="searchYear" class="control-label">年度:</label>
                        <select name="searchYear" id="searchYear" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4 attribute">
                    <div class="form-group">
                        <label for="searchAttribute" class="control-label">学期:</label>
                        <select name="searchAttribute" id="searchAttribute" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" id="btnSearch" class="btn btn-primary panelButton">查询</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="toolbar">
    <div class="toolbar-list">
        <button id="btnAdd" class="btn btn-default btn-sm">新增</button>
        <button id="btnDeleteAll" class="btn btn-default btn-sm">删除选中</button>
        <button id="btnPublishAll" class="btn btn-default btn-sm">发布选中</button>
        <button id="btnStopAll" class="btn btn-default btn-sm">停用选中</button>
        <button id="btnBatchAdd" class="btn btn-default btn-sm">批量新增</button>
        <button id="btnBatchPublish" class="btn btn-default btn-sm">批量发布</button>
        <button id="btnBatchAddStudent" class="btn btn-default btn-sm">批量添加学生</button>
        <button id="btnBatchAddTeacher" class="btn btn-default btn-sm">批量添加老师</button>
    </div>
</div>
<div class="content mainModal">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <span>
                        <input type="checkbox" name="selectAll" id="selectAll" />
                    </span>课程名称</th>
                <th style="width:80px">发布</th>
                <th style="width:100px">年级</th>
                <th style="width:100px">科目</th>
                <th style="width:100px">类别</th>
                <th style="width:100px">报名</th>
                <th style="width:240px">操作</th>
            </tr>
        </thead>
        <tbody id="gridBody">
        </tbody>
    </table>
</div>
<div id="mainModal">
    <input type="hidden" id="total" value="0" />
    <input type="hidden" id="page" value="0" /> {% include "Server/partial/popuppaging.html" %}
</div> {% endblock %} {% block modal %}
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name" class="control-label">课程名称:</label>
                                <input type="text" maxlength="30" class="form-control" name="name" id="name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="year" class="control-label">年度:</label>
                                <select name="year" id="year" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="grade" class="control-label">年级:</label>
                                <select name="grade" id="grade" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="subject" class="control-label">科目:</label>
                                <select name="subject" id="subject" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="category" class="control-label">难度:</label>
                                <select name="category" id="category" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="courseStartDate" class="control-label">开课日期:</label>
                                <input type="text" maxlength="30" class="form-control" name="courseStartDate" id="courseStartDate">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="courseEndDate" class="control-label">结课日期:</label>
                                <input type="text" maxlength="30" class="form-control" name="courseEndDate" id="courseEndDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="courseTime" class="control-label">上课时间:</label>
                                <input type="text" maxlength="20" class="form-control" name="courseTime" id="courseTime">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="totalStudentCount" class="control-label">招生人数:</label>
                                <input type="text" maxlength="10" class="form-control" name="totalStudentCount" id="totalStudentCount" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-24">
                            <div class="form-group">
                                <label for="courseContent" class="control-label">课程描述:</label>
                                <textarea maxlength="1000" rows="7" class="form-control" name="courseContent" id="courseContent"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-24">
                            <div class="form-group" style="border-bottom: 1px solid rgb(128, 128, 128)">
                                <label>依赖项:</label>
                            </div>
                        </div>
                    </div>
                    <div class="examList">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="examCategoryName" class="control-label">选项类别:</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="minScore" class="control-label">价格:</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="minCount" class="control-label">数量:</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin-bottom: -15px;">
                                    <button id="btnNewExam" class="btn btn-primary">新增选项</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" maxlength="50" class="form-control" name="examName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" maxlength="10" class="form-control" name="minScore" value="0">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" maxlength="10" class="form-control" name="minCount" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="extraExams"></div>
                    </div>
                    <input type="hidden" class="form-control" name="id" id="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnSave" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmModalLabel">确认</h4>
            </div>
            <div class="modal-body">
                确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/default/assets/js/Server/trainClass.js?v=1.0"></script>
<script type="text/javascript" src="/default/assets/js/moment.js"></script>
{% endblock %}