body {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    font-family: 微软雅黑;
    color: #222222;
}

.main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header {
    height: 100px;
}

.footer {
    height: 150px;
    background: #282828;
}

.header .phone {
    width: 250px;
    position: absolute;
    top: 14px;
    right: 30px;
    height: 58px;
}

.header .logo {
    width: 250px;
    position: absolute;
    top: 14px;
    left: 11px;
    font-size: 32px;
    color: rgb(196, 1, 1);
}

.header b {
    color: rgb(196, 1, 1);
    font-size: 23px;
    top: 10px;
    position: absolute;
}

.toolbar {
    height: 50px;
    background-color: #2b2b2b;
}

.toolbar .nav,
.footer .nav {
    width: 120px;
    line-height: 50px;
    color: rgb(234, 234, 234);
    font-size: 16px;
    display: inline-block;
    text-align: center;
}

.toolbar .nav.active {
    background-color: #c40000;
}

.toolbar .nav:hover {
    background-color: #c40000;
    cursor: pointer;
}

.toolbar .nav span,
.footer .nav span {
    margin: 0 auto;
}

.content .main {
    padding: 20px;
}

.nav1-content .desp {
    width: 390px;
}

.nav1-content .image {
    width: 390px;
}

.content {
    min-height: 500px;
}

.content .title {
    font-size: 16px;
    color: #c40000;
}

.content .title .span1 {
    display: inline-block;
    width: 10px;
    height: 9px;
    background-color: #c40000;
}

.nav1-content .title .span2 {
    display: inline-block;
    width: 265px;
    height: 9px;
    margin-left: 14px;
    background: #f5f5f5;
}

.nav1-content .desp .cont {
    margin-top: 10px;
    color: #666666;
    font-size: 15px;
}

.nav2-content .title .span2,
.nav3-content .title .span2,
.nav4-content .title .span2 {
    display: inline-block;
    width: 1060px;
    height: 9px;
    margin-left: 14px;
    background: #f5f5f5;
}

.nav2-content .row {
    margin-top: 30px;
}

.nav2-content .row .title .span2 {
    display: inline-block;
    width: 280px;
    height: 9px;
    margin-left: 14px;
    background: #f5f5f5;
}

.nav2-content .row .detail div {
    margin-bottom: 8px;
}

.nav2-content .row .out .title .span2 {
    display: inline-block;
    width: 180px;
    height: 9px;
    margin-left: 14px;
    background: #f5f5f5;
}

.nav3-content .job-type {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

.nav3-content table tr td.bold-td {
    font-weight: bold;
}

.nav4-content img {
    width: 100%;
}

.nav4-content .col-lg-3 {
    text-align: center;
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.footer .main {
    padding-top: 20px;
    text-align: center;
    color: rgb(234, 234, 234);
}