<div class="title">课程设置</div>
<ul class="nav nav-pills nav-stacked">
    <li id="left_btnTrainClass" role="presentation">课程设置</li>
    <li id="left_btnCategory" role="presentation">课程难度</li>
    <li id="left_btnSubject" role="presentation">课程科目</li>
    <li id="left_btnAttribute" role="presentation">课程属性</li>
    <li role="presentation" class="block"></li>
    <li id="left_btnExamClass" role="presentation">测试设置</li>
    <li id="left_btnExamCategory" role="presentation">测试类别</li>
    <li role="presentation" class="block"></li>
    <li id="left_btnEnrollProcess" role="presentation">报名过程</li>
</ul>
<script type="text/javascript" src="/default/assets/js/Server/classSetting.js?v=1.000"></script>