<div class="title">报名管理</div>
<ul class="nav nav-pills nav-stacked">
    <li id="btnClassroom" role="presentation">学员报名</li>
    <li role="presentation" class="block"></li>
    <li id="btnExamroom" role="presentation">调班</li>
    <li id="btnTeacher" role="presentation">退费</li>
    <li id="btnYear" role="presentation">插班</li>
    <li role="presentation" class="block"></li>
    <li id="btnenroll" role="presentation">课程设置</li>
    <li id="btnGrade" role="presentation">测试设置</li>
    <li role="presentation" id="btnAdmin">订单管理</li>
</ul>
<script type="text/javascript" src="/default/assets/js/enrollSetting.js"></script>