<div class="title">报名管理</div>
<ul class="nav nav-pills nav-stacked">
    <li id="left_btnAdminEnrollTrain" role="presentation">课程报名</li>
    <li role="presentation" class="block"></li>
    <li id="left_btnPayway" role="presentation">支付方式</li>
    <li id="left_btnRebate" role="presentation">退费</li>
    <li id="left_btnRebateway" role="presentation">退费方式</li>
    <!--<li id="btnYear" role="presentation">插班</li>-->
    <li role="presentation" class="block"></li>
    <li role="presentation" id="left_btnTrainOrder">课程订单</li>
    <li role="presentation" class="block"></li>
    {% if user.role==0 %}
    <li role="presentation" id="left_btnWrongCancel">已支付被取消</li>
    {% endif %}
</ul>
<script type="text/javascript" src="/default/assets/js/Server/enrollSetting.js?v=1.0"></script>