<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>百分百</title>
    <link rel="stylesheet" href="/default/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/default/assets/css/admin.css">
    <script type="text/javascript" src="/default/assets/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/default/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/default/assets/js/index.js"></script>
</head>

<body>
    <div class="admin-header">
        <div class="logo pull-left">百分百</div>
        <div class="menu-top pull-left">
            <ul class="nav nav-pills">
                <li role="presentation">报名管理</li>
                <li role="presentation">学生管理</li>
                <li role="presentation">财务管理</li>
                <li role="presentation">基本设置</li>
            </ul>
        </div>
        <div class="userinfo pull-right">
            用户: {{ user.name }}
            <a href="/admin/logout">退出</a>
        </div>
    </div>
    <div class="admin-left">
        {% block left %}{% endblock %}
    </div>
    <div class="admin-main">
        {% block main %}{% endblock %}
    </div>
    {% block modal %}{% endblock %}
</body>

</html>