<div class="title">学生管理</div>
<ul class="nav nav-pills nav-stacked">
    <li id="left_btnAccount" role="presentation">账号管理</li>
    <li id="left_btnStudent" role="presentation">学生管理</li>
    <li role="presentation" class="block"></li>
    <li id="left_btnCard" role="presentation">准考证查询</li>
    <li id="left_btnScore" role="presentation">成绩查询</li>
    <li role="presentation" class="block"></li>
    <li role="left_btnScoreInput" id="btnTrainOrder">成绩录入</li>
    <li role="left_btnScoreReport" id="btnExamOrder">成绩报告</li>
    <li role="presentation" class="block"></li>
    <li role="left_btnBonus" id="btnTrainOrder">优惠设置</li>
</ul>
<script type="text/javascript" src="/default/assets/js/Server/studentSetting.js"></script>